{erl_opts, [{parse_transform, lager_transform}
           ,{lager_truncation_size, 1024}]}.

{minimum_otp_vsn, "22.0"}.

{deps, [lager
       ,{tivan, {git, "https://gitlab.com/arknode.io/tivan.git", {branch, "master"}}}
       ,{bifrost, {git, "https://gitlab.com/arknode.io/bifrost.git", {branch, "develop"}}}]}.

{relx, [{release, {addbook, {cmd, "scripts/version"}},
         [addbook
         ,tivan
         ,bifrost
         ,lager
         ,sasl]},

        {sys_config_src, "./config/sys.config.src"},
        {vm_args_src, "./config/vm.args.src"},

        {dev_mode, false},
        {include_erts, true},
        {include_src, false},

        {extended_start_script, true},
        {overlay, [{copy, "scripts/addbook.service", "bin/"}
                  ,{copy, "scripts/addbook_env.sh", "bin/"}]}]
}.

{shell, [{config, "config/shell.config"}]}.
