[ {addbook, []},
  {bifrost, [{port, 6001}
            ,{index_file_path, "www"}
            ,{stattc_dir_path, "www/index"}]},
  {mnesia, [{dir, "var/mnesia"}]},
  {lager, [
    {log_root, "var/log"},
    {handlers, [
      {lager_file_backend, [{file, "addbook.log"}, {size, 104857600}, {date, "$D0"},
        {count, 200}, {level, debug}, {formatter, lager_default_formatter},
        {formatter_config, [time, " [",severity,"] ",{id,{pid,""}},
                            "@",module,":",function,":",line," ",message, "\n"]}
    ]}
    ]}
  ]}
].
